{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if ea.crud.currentAction == 'detail' %}
    <ul class="list-group w-50">
        {% for item in field.value %}
          {% for i in item %}
            <li class="list-group-item">
            {{ i.desc }}
            <img class="w-100" src="{{ i.img }}"></img>
            </li>
          {% endfor %}
        {% endfor %}
    </ul>
{% else %}
    {{ field.formattedValue }}
{% endif %}
